# Pré-Processamento

In [2]:
import pandas as pd

In [3]:
dados = pd.read_csv('https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2021.csv')
dados.head(5)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2021-0096,Tokyo Olympics,Hard,64,A,20210724,237,126207,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,1228.0,71.0,996.0
1,2021-0096,Tokyo Olympics,Hard,64,A,20210724,238,105526,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,48.0,1410.0,95.0,829.0
2,2021-0096,Tokyo Olympics,Hard,64,A,20210724,239,111576,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,160.0,471.0,197.0,354.0
3,2021-0096,Tokyo Olympics,Hard,64,A,20210724,240,105357,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,44.0,1476.0,61.0,1106.0
4,2021-0096,Tokyo Olympics,Hard,64,A,20210724,241,207830,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,145.0,525.0,137.0,570.0

In [4]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2733 entries, 0 to 2732
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          2733 non-null   object
 1   tourney_name        2733 non-null   object
 2   surface             2733 non-null   object
 3   draw_size           2733 non-null   int64
 4   tourney_level       2733 non-null   object
 5   tourney_date        2733 non-null   int64
 6   match_num           2733 non-null   int64
 7   winner_id           2733 non-null   int64
 8   winner_seed         1165 non-null   float64
 9   winner_entry        417 non-null    object
 10  winner_name         2733 non-null   object
 11  winner_hand         2731 non-null   object
 12  winner_ht           2724 non-null   float64
 13  winner_ioc          2733 non-null   object
 14  winner_age          2733 non-null   float64
 15  loser_id            2733 non-null   int64
 16  loser_seed          693 non-null    float64
 17  loser_entry         635 non-null    object
 18  loser_name          2733 non-null   object
 19  loser_hand          2733 non-null   object
 20  loser_ht            2698 non-null   float64
 21  loser_ioc           2733 non-null   object
 22  loser_age           2733 non-null   float64
 23  score               2733 non-null   object
 24  best_of             2733 non-null   int64
 25  round               2733 non-null   object
 26  minutes             2650 non-null   float64
 27  w_ace               2636 non-null   float64
 28  w_df                2636 non-null   float64
 29  w_svpt              2636 non-null   float64
 30  w_1stIn             2636 non-null   float64
 31  w_1stWon            2636 non-null   float64
 32  w_2ndWon            2636 non-null   float64
 33  w_SvGms             2637 non-null   float64
 34  w_bpSaved           2636 non-null   float64
 35  w_bpFaced           2636 non-null   float64
 36  l_ace               2636 non-null   float64
 37  l_df                2636 non-null   float64
 38  l_svpt              2636 non-null   float64
 39  l_1stIn             2636 non-null   float64
 40  l_1stWon            2636 non-null   float64
 41  l_2ndWon            2636 non-null   float64
 42  l_SvGms             2637 non-null   float64
 43  l_bpSaved           2636 non-null   float64
 44  l_bpFaced           2636 non-null   float64
 45  winner_rank         2729 non-null   float64
 46  winner_rank_points  2729 non-null   float64
 47  loser_rank          2707 non-null   float64
 48  loser_rank_points   2707 non-null   float64
dtypes: float64(29), int64(6), object(14)
memory usage: 1.0+ MB

In [5]:
dados.describe(include='all')

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
count,2733,2733,2733,2733.000000,2733,2.733000e+03,2733.000000,2733.000000,1165.000000,417,...,2636.000000,2636.000000,2636.000000,2637.000000,2636.000000,2636.000000,2729.000000,2729.000000,2707.000000,2707.000000
unique,114,114,3,NaN,5,NaN,NaN,NaN,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2021-580,Australian Open,Hard,NaN,A,NaN,NaN,NaN,NaN,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,127,127,1608,NaN,1569,NaN,NaN,NaN,NaN,234,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,62.609587,NaN,2.021060e+07,243.248811,127500.755946,7.687554,NaN,...,50.118361,33.325493,14.494689,12.420554,4.843323,8.714719,70.593624,2229.913888,103.034355,1390.971555
std,NaN,NaN,NaN,41.521804,NaN,2.855522e+02,73.915192,33930.996942,7.133621,NaN,...,19.075552,14.205041,6.857036,4.224477,3.253624,4.126347,103.028379,2484.822372,149.125316,1460.007475
min,NaN,NaN,NaN,2.000000,NaN,2.021010e+07,1.000000,100644.000000,1.000000,NaN,...,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,NaN,NaN,NaN,32.000000,NaN,2.021032e+07,224.000000,105575.000000,3.000000,NaN,...,36.000000,23.000000,10.000000,9.000000,2.000000,6.000000,19.000000,858.000000,37.000000,709.000000
50%,NaN,NaN,NaN,64.000000,NaN,2.021061e+07,276.000000,106432.000000,6.000000,NaN,...,47.000000,31.000000,14.000000,11.000000,4.000000,8.000000,47.000000,1344.000000,68.000000,993.000000
75%,NaN,NaN,NaN,128.000000,NaN,2.021082e+07,289.000000,128034.000000,10.000000,NaN,...,61.000000,42.000000,18.000000,15.000000,7.000000,11.000000,87.000000,2423.000000,112.000000,1595.000000
max,NaN,NaN,NaN,128.000000,NaN,2.021120e+07,300.000000,210107.000000,32.000000,NaN,...,165.000000,104.000000,48.000000,31.000000,27.000000,38.000000,1758.000000,12113.000000,2146.000000,12113.000000

In [6]:
dados.isnull()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
1,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
2,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
3,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
4,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2728,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
2729,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
2730,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
2731,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
2732,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False

In [7]:
dados.isnull().sum()

tourney_id               0
tourney_name             0
surface                  0
draw_size                0
tourney_level            0
tourney_date             0
match_num                0
winner_id                0
winner_seed           1568
winner_entry          2316
winner_name              0
winner_hand              2
winner_ht                9
winner_ioc               0
winner_age               0
loser_id                 0
loser_seed            2040
loser_entry           2098
loser_name               0
loser_hand               0
loser_ht                35
loser_ioc                0
loser_age                0
score                    0
best_of                  0
round                    0
minutes                 83
w_ace                   97
w_df                    97
w_svpt                  97
w_1stIn                 97
w_1stWon                97
w_2ndWon                97
w_SvGms                 96
w_bpSaved               97
w_bpFaced               97
l_ace                   97
l_df                    97
l_svpt                  97
l_1stIn                 97
l_1stWon                97
l_2ndWon                97
l_SvGms                 96
l_bpSaved               97
l_bpFaced               97
winner_rank              4
winner_rank_points       4
loser_rank              26
loser_rank_points       26
dtype: int64

In [8]:
dados['winner_entry'].describe()

count     417
unique      6
top         Q
freq      234
Name: winner_entry, dtype: object

In [9]:
dados['winner_entry'].unique()

array([nan, 'Q', 'WC', 'LL', 'SE', 'Alt', 'PR'], dtype=object)

In [10]:
dados.dropna(subset=['loser_rank'], inplace=True) # Apaga a linha quando subset 'loser_rank' for null

In [11]:
dados

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2021-0096,Tokyo Olympics,Hard,64,A,20210724,237,126207,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,1228.0,71.0,996.0
1,2021-0096,Tokyo Olympics,Hard,64,A,20210724,238,105526,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,48.0,1410.0,95.0,829.0
2,2021-0096,Tokyo Olympics,Hard,64,A,20210724,239,111576,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,160.0,471.0,197.0,354.0
3,2021-0096,Tokyo Olympics,Hard,64,A,20210724,240,105357,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,44.0,1476.0,61.0,1106.0
4,2021-0096,Tokyo Olympics,Hard,64,A,20210724,241,207830,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,145.0,525.0,137.0,570.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2728,2021-9210,Laver Cup,Hard,8,A,20210924,102,126610,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,5173.0,11.0,3368.0
2729,2021-9210,Laver Cup,Hard,8,A,20210924,103,106421,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,10575.0,12.0,3310.0
2730,2021-9210,Laver Cup,Hard,8,A,20210924,104,126094,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,6130.0,15.0,2800.0
2731,2021-9210,Laver Cup,Hard,8,A,20210924,105,100644,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,7760.0,22.0,2171.0
2732,2021-9210,Laver Cup,Hard,8,A,20210924,106,134770,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10.0,3440.0,19.0,2341.0

In [12]:
dados.dropna(axis=1, how='all') # apaga a coluna em que todos os valores são null

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2021-0096,Tokyo Olympics,Hard,64,A,20210724,237,126207,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,1228.0,71.0,996.0
1,2021-0096,Tokyo Olympics,Hard,64,A,20210724,238,105526,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,48.0,1410.0,95.0,829.0
2,2021-0096,Tokyo Olympics,Hard,64,A,20210724,239,111576,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,160.0,471.0,197.0,354.0
3,2021-0096,Tokyo Olympics,Hard,64,A,20210724,240,105357,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,44.0,1476.0,61.0,1106.0
4,2021-0096,Tokyo Olympics,Hard,64,A,20210724,241,207830,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,145.0,525.0,137.0,570.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2728,2021-9210,Laver Cup,Hard,8,A,20210924,102,126610,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,5173.0,11.0,3368.0
2729,2021-9210,Laver Cup,Hard,8,A,20210924,103,106421,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,10575.0,12.0,3310.0
2730,2021-9210,Laver Cup,Hard,8,A,20210924,104,126094,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,6130.0,15.0,2800.0
2731,2021-9210,Laver Cup,Hard,8,A,20210924,105,100644,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,7760.0,22.0,2171.0
2732,2021-9210,Laver Cup,Hard,8,A,20210924,106,134770,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10.0,3440.0,19.0,2341.0

In [13]:
dados['loser_entry'].unique()

array([nan, 'PR', 'Q', 'LL', 'WC', 'SE', 'Alt'], dtype=object)

In [14]:
dados['loser_entry'].fillna(value='X', inplace=True) # substitui os valores null da coluna loser_entry por X
dados['loser_entry'].unique()

array(['X', 'PR', 'Q', 'LL', 'WC', 'SE', 'Alt'], dtype=object)

In [15]:
dados['w_ace'].unique()

array([nan,  5.,  1.,  2.,  3.,  6.,  4., 11.,  8., 15.,  9., 20., 12.,
       24., 14., 17., 13., 19., 10.,  7., 16., 18., 22.,  0., 23., 21.,
       32., 26., 25., 27., 28., 29., 41., 34., 30., 44., 33., 49., 31.,
       36.])

In [16]:
dados.fillna(value={'w_ace': 0, 'loser_ht': dados['loser_ht'].mean()}, inplace=True)
dados.w_ace.unique()

array([ 0.,  5.,  1.,  2.,  3.,  6.,  4., 11.,  8., 15.,  9., 20., 12.,
       24., 14., 17., 13., 19., 10.,  7., 16., 18., 22., 23., 21., 32.,
       26., 25., 27., 28., 29., 41., 34., 30., 44., 33., 49., 31., 36.])

In [17]:
dados.loser_ht.unique()

array([180.        , 183.        , 188.        , 185.        ,
       193.        , 191.        , 173.        , 170.        ,
       178.        , 196.        , 198.        , 175.        ,
       181.        , 211.        , 190.        , 208.        ,
       203.        , 186.63866171, 172.        , 206.        ,
       194.        , 201.        , 189.        ])

In [18]:
dados.minutes[60:110]

60       NaN
61       NaN
62       NaN
63       NaN
64     107.0
65      50.0
66     175.0
67     129.0
68      88.0
69      79.0
70      76.0
71     144.0
72     157.0
73      86.0
74      67.0
75     107.0
76      68.0
77      74.0
78      68.0
79      76.0
80     158.0
81       0.0
82     125.0
83      86.0
84      91.0
85      83.0
86     180.0
87     153.0
88      70.0
89      86.0
90      85.0
91      98.0
92      87.0
93     116.0
94      80.0
95     118.0
96     102.0
97     128.0
98      97.0
99      90.0
100    137.0
101    163.0
102    124.0
103     85.0
104     93.0
105     65.0
106    114.0
107     69.0
108     76.0
109     93.0
Name: minutes, dtype: float64

In [19]:
dados.minutes.fillna(method='ffill', inplace=True)
dados.minutes.isnull()

0        True
1        True
2        True
3        True
4        True
        ...
2728    False
2729    False
2730    False
2731    False
2732    False
Name: minutes, Length: 2707, dtype: bool

In [20]:
dados.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2728    False
2729    False
2730    False
2731    False
2732    False
Length: 2707, dtype: bool

In [21]:
dados.duplicated().sum()

0

In [22]:
data2 = dados.drop_duplicates(subset=['tourney_name']) # sem o 'inplace=True' as mudanças não são geradas dentro do próprio conjunto, o método apenas retorna o conjunto resultante
data2

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2021-0096,Tokyo Olympics,Hard,64,A,20210724,237,126207,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,1228.0,71.0,996.0
64,2021-0308,Munich,Clay,32,A,20210426,271,104655,NaN,NaN,...,40.0,27.0,13.0,12.0,3.0,7.0,85.0,897.0,62.0,1037.0
91,2021-0311,Queen's Club,Grass,32,A,20210614,270,133430,2.0,NaN,...,52.0,44.0,18.0,12.0,2.0,2.0,14.0,2780.0,207.0,327.0
122,2021-0314,Gstaad,Clay,32,A,20210719,271,126239,NaN,NaN,...,27.0,18.0,18.0,10.0,5.0,7.0,100.0,805.0,281.0,200.0
149,2021-0315,Newport,Grass,32,A,20210712,271,202195,NaN,NaN,...,25.0,16.0,7.0,7.0,8.0,12.0,155.0,473.0,171.0,425.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2710,2021-M-DC-2021-WG2-M-RSA-VEN-01,Davis Cup WG2 R1: RSA vs VEN,Hard,4,D,20210918,1,144750,NaN,NaN,...,18.0,5.0,4.0,6.0,1.0,7.0,31.0,1758.0,1921.0,1.0
2716,2021-M-DC-2021-WG2-M-SUI-EST-01,Davis Cup WG2 R1: SUI vs EST,Hard,4,D,20210917,1,208502,NaN,NaN,...,43.0,28.0,10.0,9.0,6.0,8.0,287.0,199.0,717.0,32.0
2720,2021-M-DC-2021-WG2-M-THA-DEN-01,Davis Cup WG2 R1: THA vs DEN,Hard,4,D,20210917,1,144841,NaN,NaN,...,45.0,28.0,10.0,8.0,6.0,10.0,1083.0,9.0,767.0,27.0
2724,2021-M-DC-2021-WG2-M-TUR-LAT-01,Davis Cup WG2 R1: TUR vs LAT,Hard,4,D,20210918,1,123795,NaN,NaN,...,50.0,34.0,20.0,11.0,6.0,9.0,170.0,427.0,671.0,38.0
2727,2021-9210,Laver Cup,Hard,8,A,20210924,101,126774,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,8350.0,95.0,798.0

In [23]:
dados

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2021-0096,Tokyo Olympics,Hard,64,A,20210724,237,126207,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,1228.0,71.0,996.0
1,2021-0096,Tokyo Olympics,Hard,64,A,20210724,238,105526,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,48.0,1410.0,95.0,829.0
2,2021-0096,Tokyo Olympics,Hard,64,A,20210724,239,111576,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,160.0,471.0,197.0,354.0
3,2021-0096,Tokyo Olympics,Hard,64,A,20210724,240,105357,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,44.0,1476.0,61.0,1106.0
4,2021-0096,Tokyo Olympics,Hard,64,A,20210724,241,207830,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,145.0,525.0,137.0,570.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2728,2021-9210,Laver Cup,Hard,8,A,20210924,102,126610,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,5173.0,11.0,3368.0
2729,2021-9210,Laver Cup,Hard,8,A,20210924,103,106421,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,10575.0,12.0,3310.0
2730,2021-9210,Laver Cup,Hard,8,A,20210924,104,126094,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,6130.0,15.0,2800.0
2731,2021-9210,Laver Cup,Hard,8,A,20210924,105,100644,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,7760.0,22.0,2171.0
2732,2021-9210,Laver Cup,Hard,8,A,20210924,106,134770,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10.0,3440.0,19.0,2341.0

In [24]:
dados2 = pd.read_csv('AAPL.csv')
dados2

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-05-23,137.789993,143.259995,137.649994,143.110001,142.260513,117726300
1,2022-05-24,140.809998,141.970001,137.330002,140.360001,139.526840,104132700
2,2022-05-25,138.429993,141.789993,138.339996,140.520004,139.685913,92482700
3,2022-05-26,137.389999,144.339996,137.139999,143.779999,142.926544,90601500
4,2022-05-27,145.389999,149.679993,145.259995,149.639999,148.751770,90978500
...,...,...,...,...,...,...,...
246,2023-05-16,171.990005,173.139999,171.800003,172.070007,172.070007,42110300
247,2023-05-17,171.710007,172.929993,170.419998,172.690002,172.690002,57951600
248,2023-05-18,173.000000,175.240005,172.580002,175.050003,175.050003,65496700
249,2023-05-19,176.389999,176.389999,174.940002,175.160004,175.160004,55772400
250,2023-05-22,173.979996,174.710007,173.449997,174.199997,174.199997,43497600

In [25]:
dados2['close_ontem'] = dados2.Close.shift(1) # pega o valor da coluna 'Close' e atribui para a linha seguinte, nova coluna 'close_ontem'
dados2

,Date,Open,High,Low,Close,Adj Close,Volume,close_ontem
0,2022-05-23,137.789993,143.259995,137.649994,143.110001,142.260513,117726300,NaN
1,2022-05-24,140.809998,141.970001,137.330002,140.360001,139.526840,104132700,143.110001
2,2022-05-25,138.429993,141.789993,138.339996,140.520004,139.685913,92482700,140.360001
3,2022-05-26,137.389999,144.339996,137.139999,143.779999,142.926544,90601500,140.520004
4,2022-05-27,145.389999,149.679993,145.259995,149.639999,148.751770,90978500,143.779999
...,...,...,...,...,...,...,...,...
246,2023-05-16,171.990005,173.139999,171.800003,172.070007,172.070007,42110300,172.070007
247,2023-05-17,171.710007,172.929993,170.419998,172.690002,172.690002,57951600,172.070007
248,2023-05-18,173.000000,175.240005,172.580002,175.050003,175.050003,65496700,172.690002
249,2023-05-19,176.389999,176.389999,174.940002,175.160004,175.160004,55772400,175.050003
250,2023-05-22,173.979996,174.710007,173.449997,174.199997,174.199997,43497600,175.160004

In [26]:
dados2['alteração %'] = ((dados2.Close/dados2.close_ontem)-1)*100
dados2

,Date,Open,High,Low,Close,Adj Close,Volume,close_ontem,alteração %
0,2022-05-23,137.789993,143.259995,137.649994,143.110001,142.260513,117726300,NaN,NaN
1,2022-05-24,140.809998,141.970001,137.330002,140.360001,139.526840,104132700,143.110001,-1.921599
2,2022-05-25,138.429993,141.789993,138.339996,140.520004,139.685913,92482700,140.360001,0.113995
3,2022-05-26,137.389999,144.339996,137.139999,143.779999,142.926544,90601500,140.520004,2.319951
4,2022-05-27,145.389999,149.679993,145.259995,149.639999,148.751770,90978500,143.779999,4.075671
...,...,...,...,...,...,...,...,...,...
246,2023-05-16,171.990005,173.139999,171.800003,172.070007,172.070007,42110300,172.070007,0.000000
247,2023-05-17,171.710007,172.929993,170.419998,172.690002,172.690002,57951600,172.070007,0.360316
248,2023-05-18,173.000000,175.240005,172.580002,175.050003,175.050003,65496700,172.690002,1.366611
249,2023-05-19,176.389999,176.389999,174.940002,175.160004,175.160004,55772400,175.050003,0.062840
250,2023-05-22,173.979996,174.710007,173.449997,174.199997,174.199997,43497600,175.160004,-0.548074

In [27]:
from sklearn.preprocessing import LabelEncoder

In [28]:
dados

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2021-0096,Tokyo Olympics,Hard,64,A,20210724,237,126207,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,1228.0,71.0,996.0
1,2021-0096,Tokyo Olympics,Hard,64,A,20210724,238,105526,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,48.0,1410.0,95.0,829.0
2,2021-0096,Tokyo Olympics,Hard,64,A,20210724,239,111576,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,160.0,471.0,197.0,354.0
3,2021-0096,Tokyo Olympics,Hard,64,A,20210724,240,105357,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,44.0,1476.0,61.0,1106.0
4,2021-0096,Tokyo Olympics,Hard,64,A,20210724,241,207830,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,145.0,525.0,137.0,570.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2728,2021-9210,Laver Cup,Hard,8,A,20210924,102,126610,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,5173.0,11.0,3368.0
2729,2021-9210,Laver Cup,Hard,8,A,20210924,103,106421,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,10575.0,12.0,3310.0
2730,2021-9210,Laver Cup,Hard,8,A,20210924,104,126094,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,6130.0,15.0,2800.0
2731,2021-9210,Laver Cup,Hard,8,A,20210924,105,100644,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,7760.0,22.0,2171.0
2732,2021-9210,Laver Cup,Hard,8,A,20210924,106,134770,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10.0,3440.0,19.0,2341.0

In [31]:
paises = dados.winner_ioc
paises

0       USA
1       GER
2       IND
3       AUS
4       CZE
       ...
2728    ITA
2729    RUS
2730    RUS
2731    GER
2732    NOR
Name: winner_ioc, Length: 2707, dtype: object

In [32]:
lencoder = LabelEncoder()
paises_numeros = lencoder.fit_transform(paises)
paises_numeros

array([54, 23, 26, ..., 42, 23, 36])

In [37]:
paises.head(20)

0     USA
1     GER
2     IND
3     AUS
4     CZE
5     KAZ
6     GER
7     SRB
8     USA
9     BLR
10    COL
11    AUS
12    CRO
13    FRA
14    GBR
15    GEO
16    ESP
17    ITA
18    FRA
19    ITA
Name: winner_ioc, dtype: object

In [39]:
dados['paises_numeros'] = paises_numeros
dados

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,paises_numeros
0,2021-0096,Tokyo Olympics,Hard,64,A,20210724,237,126207,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,53.0,1228.0,71.0,996.0,54
1,2021-0096,Tokyo Olympics,Hard,64,A,20210724,238,105526,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,48.0,1410.0,95.0,829.0,23
2,2021-0096,Tokyo Olympics,Hard,64,A,20210724,239,111576,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,160.0,471.0,197.0,354.0,26
3,2021-0096,Tokyo Olympics,Hard,64,A,20210724,240,105357,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,44.0,1476.0,61.0,1106.0,1
4,2021-0096,Tokyo Olympics,Hard,64,A,20210724,241,207830,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,145.0,525.0,137.0,570.0,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2728,2021-9210,Laver Cup,Hard,8,A,20210924,102,126610,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7.0,5173.0,11.0,3368.0,28
2729,2021-9210,Laver Cup,Hard,8,A,20210924,103,106421,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,10575.0,12.0,3310.0,42
2730,2021-9210,Laver Cup,Hard,8,A,20210924,104,126094,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.0,6130.0,15.0,2800.0,42
2731,2021-9210,Laver Cup,Hard,8,A,20210924,105,100644,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,7760.0,22.0,2171.0,23
2732,2021-9210,Laver Cup,Hard,8,A,20210924,106,134770,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,3440.0,19.0,2341.0,36